th.sortable a {
    background: no-repeat right;
    padding-right: 1.1em;
}

th.asc a {
    background-image: url(../images/skin/sorted_asc.gif);
}

th.desc a {
    background-image: url(../images/skin/sorted_desc.gif);
}

table.aui > tbody > tr > td.right {
    text-align: right !important;
    padding-bottom: 0 !important;
    padding-top: 0 !important;
}
